body {
    background-color: #ffefce;
    margin: 0 0;
    text-transform: uppercase;
}

.container {
    background-color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.item-content {
    float: left;
    width: 400px;
    
}

.item-photo {
    float: left;
    width: 800px;
    height: 258px;
}

.pull-right {
    float: right;
}

.recomendation-item {
    float: left;
    width: 400px;
}


.footer-hashtag {
    float: left;
    width: 33%;
    height: 50px;
}

.footer-social {
    float: left;
    width: 33%;
    height: 50px;
}

.footer-copyright {
    float: right;
    width: 33%;
    height: 50px;
}
