body {
    font-size: 14px;
    line-height: 21px;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
    margin: 0; 
}

.container {
    width: 1200px;
    margin: 0 auto; 
    background-color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
    position: relative;
}

.header-logo {
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.main-navigation {
    padding-left: 72px;
    padding-right: 72px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;   
}

.main-navigation li {
    float: left;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 240px;
}

.main-navigation li:last-child {
    float: right;
    text-align: right;
}

.main-navigation li:nth-child(3) {
    float: right;
    text-align: right;
}

a {
    font-weight: bold;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
}

.index-content {
    margin-bottom: 30px;
}

.features {
    text-align: center;
}

.features p {
    line-height: 26px;
    margin-bottom: 55px;
}

.features-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 auto;
    padding: 30px;
    width: 500px;
}

.item-content {
    float: left;
    width: 400px;
    height: 256px;
    padding: 50px 59px;
    background-color: #81b3d2;
    color: #EEEEEE;
    box-sizing: border-box;
}

.item-content h3, .recomendation-item h3 {
    width: 151px;
    font-weight: bold;
    font-size: 21px;
    margin: 0 auto;
}

.item-photo {
    float: left;
    width: 800px;
    height: 256px;
}

.recomendation-item {
    padding: 160px 0 83px 0;
}

.recomendation-item p {
    width: 315px;
    margin: 0 auto;
}

.feature-fact .item-content {
    background-color: #eeeeee;
    color: #000000;
}

.recomendation-item {
    float: left;
    width: 400px;
}

.pull-right {
    float: right;
}

.hotel-filter {
    color: #ffffff;
    background: url(../img/filter-background.jpg);
    padding-left: 72px;
    padding-right: 72px;
}

.form-options {
    width: 200px;
    float: left;
}
.form-type {
    width: 200px;
    float: left;
}

.filter-range {
    width: 400px;
    float: right;
}

.catalog-sort, .catalog-list {
    padding-left: 72px;
    padding-right: 72px;
}

.item-image {
    float: left;
    width: 150px;
}

.item-info {
    float: left;
    width: 290px;
}

.item-rate {
    float: left;
    width: 616px;
}

.main-footer {
    text-align: center;
}

.footer-hashtag {
    float: left;
    width: 240px;
}

.footer-social {
    float: left;
    width: 400px;
}

.footer-copyright {
    float: left;
    width: 240px;
}

